<br \>

<%= form_for @conn, session_path(@conn, :create), [as: :session], fn f  -> %>

  <% login_field = Coherence.Config.login_field %>
  <div class="form-group">
    <%= required_label f, login_field, class: "control-label" %>
    <%= text_input f, login_field, class: "form-control", required: "" %>
    <%= error_tag f, login_field %>
  </div>

  <div class="form-group">
    <!-- <%= required_label f, dgettext("coherence", "Password"), class: "control-label" %> -->
    <%= label f, :password, class: "control-label" do %>
      <%= dgettext("coherence", "Password") %>
    <% end %>
    <%= password_input f, :password, class: "form-control", required: "" %>
    <%= error_tag f, :password %>
  </div>

  <%= if @remember do %>
    <div class="form-group">
      <input type="checkbox"  name="remember" id="remember">
      <label for="remember"><%= dgettext "coherence", "Remember Me?" %></label>
    </div>
    <br />
  <% end %>

  <div class="form-group">
    <%= submit dgettext("coherence", "Login"), class: "btn btn-primary" %>
    <%= link dgettext("coherence", "Cancel"), to: Coherence.Config.logged_out_url("/"), class: "btn" %>
  </div>

  <div class="form-group">
    <%= coherence_links(@conn, :new_session) %>
  </div>

<% end %>
